{{define "main"}}
<section id="entry-group" class="group-col">
    <!-- name | date | type | size -->
    <section class="entry group-item group-row single-row">
        <span class="group-item entry-name">名称</span>
        <span class="group-item entry-date">修改日期</span>
        <span class="group-item entry-type">类型</span>
        <span class="group-item entry-size">大小</span>
    </section>
    {{ range .Sections }}
    <section class="entry group-item group-row single-row">
        <span class="group-item entry-name"><a href="{{.Permalink}}"><i class="fas fa-folder"></i> {{ .Title }}</a></span>
        <span class="group-item entry-date"></span>
        <span class="group-item entry-type">FOLD</span>
        <span class="group-item entry-size">{{len .Pages}}</span>
    </section>
    {{ end }}
    {{ if .IsHome }}
    {{ else }}
    {{ range .RegularPages }}
    <section class="entry group-item group-row single-row">
        <span class="group-item entry-name"><a href="{{.Permalink}}"><i class="fas fa-file-alt"></i> {{ .Title }}</a></span>
        <span class="group-item entry-date">{{.Date.Format "2006/01/02 15:04"}}</span>
        <span class="group-item entry-type">{{if .Draft}}DRAFT{{else}}POST{{end}}</span>
        <span class="group-item entry-size">{{.FuzzyWordCount}}</span>
    </section>
    {{ end }}
    {{ end }}
</section>
{{end}}