/* vars */
:root {
    --bar-height: 36px;
    --width: 1280px;
    --aside-width: 240px;
    --control-bar-width: 144px;
    --search-bar-width: 244px;

    --small-gap: 4px;
    --gap: 24px;

    --body-background: #ccc;
    --bar-background: #ccc;
    --aside-background: #ccc;
    --content-background: #ccc;

    --font-size: 16px;
    --small-font-size: 14px;

    --primary: #1e1e1e;
    --secondary: #aaa;
}
/* basic style set */
body {
    margin: 0;
    padding: 0;
    background: var(--body-background);
    color: var(--primary);
    font-size: var(--font-size);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.divider-vertical {
    margin: auto var(--small-gap);
    height: var(--font-size);
    border-right: 2px solid;
}

.bar {
    max-width: var(--width);
    height: var(--bar-height);
    background: var(--bar-background);
    padding: calc(var(--small-gap) / 2);
    margin: calc(var(--small-gap) / 2) auto;
}

.bar .single-row {
    line-height: var(--bar-height);
    height: var(--bar-height);
}

.no-select {
    user-select: none;
}

#title-group {
    white-space: nowrap;
    font-size: var(--small-font-size);
    color: var(--primary);
    border: 1px solid var(--primary);
    padding: 0 var(--small-gap);
    margin: var(--small-gap) 0;
    height: calc(var(--bar-height) - var(--small-gap) * 2);
    line-height: calc(var(--bar-height) - var(--small-gap) * 2);
}

.aside {
    width: var(--aside-width);
    background: var(--aside-background);
    padding: calc(var(--small-gap) / 2);
    margin: calc(var(--small-gap) / 2);
    height: calc(100vh - var(--bar-height) * 2 - var(--small-gap) * 6);
    border-right: 1px solid var(--primary);
}

.main {
    width: var(--width);
    margin: 0 auto;
}

.content {
    width: calc(var(--width) - var(--aside-width) - var(--small-gap) * 2 - 1px);
    background: var(--content-background);
    padding: calc(var(--small-gap) / 2);
    margin: calc(var(--small-gap) / 2);
    height: calc(100vh - var(--bar-height) * 2 - var(--small-gap) * 6);
    overflow-y: auto;
}

.group-col {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;
    gap: var(--small-gap);
}

.group-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    gap: var(--small-gap);
}

#control-group {
    width: var(--control-bar-width);
    text-align: center;
}

#control-group .group-item {
    flex-grow: 1;
}
#control-group .group-item:hover {
    color: var(--secondary);
    cursor: pointer;
}

#breadcrumb {
    flex-grow: 1;
    border: 1px solid var(--primary);
    margin: var(--small-gap) 0;
    padding: 0 var(--small-gap);
    height: calc(var(--bar-height) - var(--small-gap) * 2);
    line-height: calc(var(--bar-height) - var(--small-gap) * 2);
}

#search-group {
    width: var(--search-bar-width);
    border: 1px solid var(--primary);
    margin: var(--small-gap) 0;
    padding: 0 var(--small-gap);
    height: calc(var(--bar-height) - var(--small-gap) * 2);
    line-height: calc(var(--bar-height) - var(--small-gap) * 2);
}

#search-input {
    border: none;
    background: transparent;
    flex-grow: 1;
    outline-style: none;
}

.group-item.level-2 {
    padding-left: var(--font-size);
}

.entry:not(:first-child) .entry-name:hover,
#social-group .group-item:hover,
#section-group .group-item:hover,
#menu-group .group-item:hover {
    background: var(--secondary);
    cursor: pointer;
}

#social-group .group-item,
#section-group .group-item,
#menu-group .group-item {
    min-height: var(--font-size);
}

.entry .group-item {
    padding: 0 var(--small-gap);
}

.entry-name {
    flex-grow: 1;
}

.entry-key,
.entry-date {
    min-width: 144px;
}

.entry-type,
.entry-size {
    min-width: 96px;
}

#toc,
#abstract-group {
    border-top: 1px solid var(--primary);
}

.tag {
    border-radius: calc(var(--small-gap) * 2);
    padding: 0 var(--small-gap);
    background: var(--secondary);
    border: 1px solid transparent;
}

.tag:hover {
    border: 1px solid var(--primary);
    cursor: pointer;
}

#result-info {
    font-size: var(--small-font-size);
    color: var(--secondary);
    margin-top: var(--gap);
}

#TableOfContents {
    max-height: calc(var(--font-size) * 12);
    overflow-y: auto;
}

#TableOfContents ul {
    padding-left: var(--font-size);
}

#TableOfContents>ul {
    padding-left: 0;
}

#TableOfContents ul li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#TableOfContents ul li a::before {
    content: "- ";
}

#TableOfContents ul li a:hover:before {
    content: "> ";
}

/* ::-webkit-scrollbar {
    background-color: var(--content-background);
    width: 4px;
} */

::-webkit-scrollbar {
    background-color: var(--content-background);
    width: var(--small-gap);
}

::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
}