{{/* Variables */}}
{{ $author := $.Param "author" | default "Anonymous" }}
{{ $description := $.Param "description" | default "There's no description." }}
{{ $pageTitle := .Title | default "There's no page title." }}
{{ $homeTitle := .Site.Params.title | default "There's no home title." }}

{{/* Meta */}}
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="{{$author}}">
<meta name="description" content="{{$description}}">

{{/* Keywords 关键字据说已经在大部分搜索引擎中的权重已经很小了，可有可无 */}}

{{/* Title */}}
<title>{{if .IsHome}}{{$homeTitle}}{{else}}{{$pageTitle}} | {{$homeTitle}}{{end}}</title>

{{/* Style */}}

{{/* IconFont */}}
{{ with .Site.Params.iconfont }}
<link rel="stylesheet" href="{{. | urlize}}">
{{ end }}

{{ $style := resources.Get "css/main.css" | minify }}
<link crossorigin="anonymous" rel="preload stylesheet" as="style" href="{{$style.RelPermalink}}">

{{/* Javascript */}}

{{/* fuse.js for search */}}
{{ $fusejs := resources.Get "js/fuse.js" | minify }}
<script defer crossorigin="anonymous" src="{{ $fusejs.RelPermalink}}"></script>
{{ $script := resources.Get "js/main.js" | minify }}
<script defer crossorigin="anonymous" src="{{ $script.RelPermalink}}"></script>